body{
background:silver;
color: black;
margin: 0;
}


main{background: white}

a{color: black;}

.clearfix::after{          
    content:'';
    display:block;
    clear:both;
}

.topNavBar{
position: fixed;
top: 0;
left: 0;
width: 100%;
}

.topNavBar>a{
    font-size:24px;
    font-family:Arial Black;
    margin: 23px 0 0 18px;
    text-decoration: none;        
}

.topNavBar>a>span{
    margin-right:4px;
    
}

.topNavBar>nav{
    padding:31px 0 31px 0;
}

.topNavBar>nav>ul{
    list-style: none;    
    margin: 0 17px 0 17px;
    padding: 0;
}

.topNavBar>nav>ul>li{
   float: right;          
}

.topNavBar>nav>ul>li>a{
    font-size:12px;        
    color:#b7b7b7;           
    text-decoration: none;
    font-weight: bold;
    margin: 0 17px 0 17px;
    border-bottom:3px solid transparent;  
    padding-top: 5px;
    padding-bottom: 5px;    
}

.topNavBar>nav>ul>li>a:hover{
border-bottom:3px solid #E06567;
}

.background{
        height: 800px;
        background-position: center center;
        background-size: cover;
}

.background .mask{
    height: 800px;
    background-color: rgba(0, 0, 0, 0.7);    
}

.zhuyao{
max-width: 942px;
height: 522px;
margin-left: auto;
margin-right: auto;

}

.zhuyao>img{
    display: inline-block;
    width: 300px;
    height: 350px;
    margin-top: 50px;
    margin-left: 50px;
}
   
.zhuyao .touxiang{
    background-position: center center;
    background-size: cover;

    float: left;
}

.zhuyao .neirong{
    float: right;
        
    margin-top: 29px;
    margin-right: 56px;
    
   
}

footer{   
    padding-top: 0px;
    background: #E06567;
    height:74px;
    padding-top: 00px;
    margin-top: 427px;
}

footer>ul{    
    list-style: none;    

}

footer>ul>li{
    float: left;
    padding-left: 60px;
    margin:0px 40px 0px 60px;

}

footer>ul>li>a{
    text-decoration: none;
    color: aliceblue;
    text-align: center;

}

main>div>span{
    background:#E6686A;
    padding:5px 11px 5px 11px;
    line-height: 31px; 
    color:white; 
}

main>div>h1{
    margin-bottom: 0px;
    margin-top: 15.44px;
}

main>div>p{
    margin-top: 0px;  
}

main>div>hr{   
    padding-right: 465px;
    border-top-color: #DEDEDE;    
    border-top: 1px;
    margin-bottom: 1px;
   
}

.sanjiao{
    border:6px solid #E6686A;
    border-right-color: transparent;
    border-bottom-color: transparent;
    width: 0px;
    margin-left: 4px; 
}

.description-list .clearfix>dt{
float: left;
width: 30%;
margin: 7px 0px 7px 0px;
font-weight: bold;
}

.description-list .clearfix>dd{
    float: left;
    width: 50%;
    margin: 7px 0px 7px 0px;
    color: #9DA0A7;
    }


    .icon {
        width: 35px; height: 35px;
        vertical-align: -0.15em;
        fill: currentColor;
        overflow: hidden;
        margin-top: 20px;
        
    }    