body{
background:#EFEFEF;
color: black;
margin: 0;
}


main{
    background: white;
margin-top: -340px;
}

a{color: black;}

.clearfix::after{          
    content:'';
    display:block;
    clear:both;
}

.topNavBar{
position: fixed;
top: 0;
left: 0;
width: 100%;
}

.topNavBar>a{
    font-size:24px;
    font-family:Arial Black;
    margin: 23px 0 0 18px;
    text-decoration: none;        
}

.topNavBar>a>span{
    margin-right:4px;
    
}

.topNavBar>nav{
    padding:31px 0 31px 0;
}

.topNavBar>nav>ul{
    list-style: none;    
    margin: 0 17px 0 17px;
    padding: 0;
}

.topNavBar>nav>ul>li{
   float: right;
          
}

.topNavBar>nav>ul>li>a{
    font-size:12px;        
    color:#b7b7b7;           
    text-decoration: none;
    font-weight: bold;
    margin: 0 17px 0 17px;
    border-bottom:3px solid transparent;  
    padding-top: 5px;
    padding-bottom: 5px;    
}

.topNavBar>nav>ul>li>a:hover{
border-bottom:3px solid #E06567;
}

.background{
        height: 800px;
        background-position: center center;
        background-size: cover;
}

.background .mask{
    height: 800px;
    background-color: rgba(0, 0, 0, 0.7);    
}

.zhuyao{
max-width: 942px;
height: 522px;
margin-left: auto;
margin-right: auto;
box-shadow: 0px 1px 13px 1px rgba(0,0,0,0.38);
}  

.zhuyao>img{
    display: inline-block;
    width: 300px;
    height: 350px;
    margin-top: 50px;
    margin-left: 50px;
}
   
.zhuyao .touxiang{
    background-position: center center;
    background-size: cover;

    float: left;
}

.zhuyao .neirong{
    float: right;
        
    margin-top: 29px;
    margin-right: 56px; 
}

footer{   

    background: #E06567;
    height:74px;
    margin-top: 427px;
}

footer>ul{    
    list-style: none;

}

footer>ul>li{
    float: left;
    padding-left: 40px;
    margin:0px 40px 0px 60px;
    

}

footer>ul>li>a{
    text-decoration: none;
    color: aliceblue;
    text-align: center;

}

.meider svg{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 10px 10px;
    margin-top: 10px;
    display: block;
    border: 1px solid transparent;
}

.meider svg:hover{
    background:rgb(216, 92, 97);
}

main>div>span{
    background:#E6686A;
    padding:5px 11px 5px 11px;
    line-height: 31px; 
    color:white; 
}

main>div>h1{
    margin-bottom: 0px;
    margin-top: 15.44px;
}

main>div>p{
    margin-top: 0px;  
}

main>div>hr{   
    padding-right: 465px;
    border-top-color: #DEDEDE;    
    border-top: 1px;
    margin-bottom: 1px;
   
}

.sanjiao{
    border:6px solid #E6686A;
    border-right-color: transparent;
    border-bottom-color: transparent;
    width: 0px;
    margin-left: 4px; 
}

.description-list .clearfix>dt{
float: left;
width: 30%;
margin: 7px 0px 7px 0px;
font-weight: bold;
}

.description-list .clearfix>dd{
    float: left;
    width: 50%;
    margin: 7px 0px 7px 0px;
    color: #9DA0A7;
    }


    .icon {
        width: 35px; height: 35px;
        vertical-align: -0.15em;
        fill: currentColor;
        overflow: hidden;
        margin-top: 20px;        
    }  

    .button{
        border: 1px solid #CDCFD1;
        width: 280px;
        line-height: 60px;
        display: inline-block;
        text-decoration: none;
        text-align: center;
        border-radius: 4px;
        font-weight: bold;
        color: #535A65;

    }

    .anniu{
        text-align: center;
        padding: 20px 0px;
    }

    .button:hover{
        box-shadow: 2px 7px 31px -7px rgba(0,0,0,0.7);
        transition: box-shadow 1s;
    }

    .jieshao{
        max-width: 942px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    h2{
margin-top: 60px;
margin-bottom: 30px;
max-width: 942px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .jineng .clearfix{
        padding-left: 0px;
        max-width: 942px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        list-style: none;
        background: #FFFFFF;
        font-size: 15px;
        color: #4B525E;
        padding-top: 20px;
        padding-bottom: 30px;
        box-shadow: 0px 1px 13px 1px rgba(0,0,0,0.38);
    }

    .jineng .clearfix>li{
        float: left;
        width: 42%;
margin: 20px 0px 20px 50px;
        display: block;
    }

    .jineng .clearfix>li:nth-child(even){
        float: right;
        margin: 20px 50px 20px 0px;   
    }

    .jineng .clearfix>li .tiao{
width: 100%;
height: 5px;
background: #FAE1E1;
border-radius: 2px;
margin-top: 5px;
    }
    .jineng .clearfix>li .tiao .tiao1{
       width: 70%;
       height: 100%;
       background: #E8676B ;
       border-radius: 2px;
    }   
    .jineng .clearfix>li .tiao .tiao2{
        width: 80%;
        height: 100%;
        background: #E8676B ;
        border-radius: 2px;
     }
     .jineng .clearfix>li .tiao .tiao3{
        width: 68%;
        height: 100%;
        background: #E8676B ;
        border-radius: 2px;
     }
     .jineng .clearfix>li .tiao .tiao4{
        width: 64%;
        height: 100%;
        background: #E8676B ;
        border-radius: 2px;
     }
     .jineng .clearfix>li .tiao .tiao5{
        width: 50%;
        height: 100%;
        background: #E8676B ;
        border-radius: 2px;
     }
     .jineng .clearfix>li .tiao .tiao6{
        width: 75%;
        height: 100%;
        background: #E8676B ;
        border-radius: 2px;
     }

     .juzhong{
        text-align: center;
     }

     .zuoping{
        display: inline-block;
     }

     .zuoping>ol{
         list-style: none;
         display: inline-block;
         padding-left: 0px;
         margin-bottom: 2px;    
     }

     .zuoping>ol>li{
        float: left;
        margin:0 40px;
        cursor: pointer;
     }
     .zuoping>ol>li:nth-child(1){
         margin-left: 0px;
     }
     .zuoping>ol>li:nth-child(3){
        margin-right: 0px;
    }

.bar{
    height: 6px;
    border-radius: 4px;
    background: white;
     }
  
.bar.state-1 .bar-x{
    border-radius: 4px;
    margin-left: 0px;
    height: 100%;
    background: #E8676B;
    width: 50px;
    transition: all 0.5s;
}

.bar.state-2 .bar-x{
    border-radius: 4px;
    margin-left: 80px;
    height: 100%;
    background: #E8676B;
    width: 90px;
    transition: all 0.5s;
}

.bar.state-3 .bar-x{
    border-radius: 4px;
    margin-left: 210px;
    height: 100%;
    background: #E8676B;
    width:112px;
    transition: all 0.5s;
}

.img-x .clearfix{
    max-width: 918px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 0px;

}

.img-x .clearfix .img-x1 .x1{
    
margin-top: 16px;
box-shadow: 0px 1px 13px 1px rgba(0,0,0,0.38);
}
.img-x .clearfix>img{
    box-shadow: 0px 1px 13px 1px rgba(0,0,0,0.38);
}